.signUpFrame,
.signUpFrameChild {
  background-color: #f2f2f2;
  max-width: 100%;
}
.signUpFrameChild {
  height: 832px;
  width: 1280px;
  position: relative;
  display: none;
}
.signUpFrame {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 96px 38px 96px 20px;
  min-height: 832px;
  flex-shrink: 0;
}
.loginSignupError,
.mainFrame,
.signUpFrame {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.mainFrame {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  max-width: 100%;
}
.loginSignupError {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 149px;
  letter-spacing: normal;
}
@media screen and (max-width: 800px) {
  .signUpFrame {
    padding-top: 62px;
    padding-bottom: 62px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .signUpFrame {
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }
}
