.groupChild {
  position: absolute;
  top: 85px;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.12);
  width: 176px;
  height: 38px;
}
.analytics,
.createQuiz,
.dashboard {
  position: relative;
  font-weight: 600;
}
.dashboardParent {
  position: absolute;
  top: 0;
  left: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60px 0;
}
.rectangleParent {
  position: absolute;
  top: 311px;
  left: 9px;
  width: 176px;
  height: 210px;
  text-align: left;
  font-size: 20px;
  color: #474444;
  font-family: Poppins;
}
