.passwordFrameChild {
  width: 1066px;
  height: 611px;
  position: relative;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  display: none;
  max-width: 100%;
}
.name {
  height: 30px;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins;
  color: #474444;
  text-align: left;
  display: inline-block;
  z-index: 2;
}
.weakPasswordFrameChild {
  height: 38px;
  width: 388px;
  position: relative;
  border-radius: 10px 10px 0 0;
  background-color: #f4f4f4;
  border: 1px solid #d60000;
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.invalidName {
  width: 107px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: Poppins;
  font-size: 12px;
  background-color: transparent;
  height: 18px;
  position: relative;
  color: #d60000;
  text-align: left;
  display: inline-block;
  z-index: 3;
}
.invalidNameText,
.weakPasswordFrame {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.weakPasswordFrame {
  flex: 1;
  border-radius: 10px 10px 0 0;
  background-color: #f4f4f4;
  border: 1px solid #d60000;
  box-sizing: border-box;
  align-items: center;
  padding: 12px 8px 8px;
  min-width: 107px;
  z-index: 2;
}
.invalidNameText {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0 34px;
}
.email {
  height: 30px;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins;
  color: #474444;
  text-align: left;
  display: inline-block;
  z-index: 2;
}
.weakPasswordFrameItem {
  height: 38px;
  width: 388px;
  position: relative;
  border-radius: 10px 10px 0 0;
  background-color: #f4f4f4;
  border: 1px solid #d60000;
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.invalidEmail {
  width: 104px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: Poppins;
  font-size: 12px;
  background-color: transparent;
  height: 18px;
  position: relative;
  color: #d60000;
  text-align: left;
  display: inline-block;
  z-index: 3;
}
.weakPasswordFrame1 {
  flex: 1;
  border-radius: 10px 10px 0 0;
  background-color: #f4f4f4;
  border: 1px solid #d60000;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: 12px 8px 8px;
  min-width: 104px;
  z-index: 2;
}
.invalidNameText1,
.signUpFrameFinal,
.weakPasswordFrame1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.invalidNameText1 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0 35px;
}
.signUpFrameFinal {
  width: 481px;
  flex-direction: column;
  align-items: flex-end;
  gap: 31px 0;
}
.password {
  height: 30px;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins;
  color: #474444;
  text-align: left;
  display: inline-block;
  z-index: 2;
}
.weakPasswordFrameInner {
  height: 38px;
  width: 388px;
  position: relative;
  border-radius: 10px 10px 0 0;
  background-color: #f4f4f4;
  border: 1px solid #d60000;
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.weakPassword {
  width: 130px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: Poppins;
  font-size: 12px;
  background-color: transparent;
  height: 18px;
  position: relative;
  color: #d60000;
  text-align: left;
  display: inline-block;
  z-index: 3;
}
.passwordConfirmFrame,
.weakPasswordFrame2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.weakPasswordFrame2 {
  flex: 1;
  border-radius: 10px 10px 0 0;
  background-color: #f4f4f4;
  border: 1px solid #d60000;
  box-sizing: border-box;
  padding: 12px 8px 8px;
  min-width: 130px;
  z-index: 2;
}
.passwordConfirmFrame {
  width: 518px;
  flex-wrap: wrap;
  gap: 0 34px;
}
.confirmPassword {
  height: 30px;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins;
  color: #474444;
  text-align: right;
  display: inline-block;
  z-index: 2;
}
.rectangleDiv {
  height: 38px;
  width: 388px;
  position: relative;
  border-radius: 10px 10px 0 0;
  background-color: #f4f4f4;
  border: 1px solid #d60000;
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.passwordDoesntMatch {
  width: 203px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: Poppins;
  font-size: 12px;
  background-color: transparent;
  height: 18px;
  position: relative;
  color: #d60000;
  text-align: left;
  display: inline-block;
  z-index: 3;
}
.weakPasswordFrame3 {
  flex: 1;
  border-radius: 10px 10px 0 0;
  background-color: #f4f4f4;
  border: 1px solid #d60000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 9px 8px;
  min-width: 203px;
  max-width: 100%;
  z-index: 2;
}
.passwordConfirmFrame1,
.signUpFrameGroup {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.passwordConfirmFrame1 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0 31px;
}
.signUpFrameGroup {
  flex-direction: column;
  align-items: flex-end;
  gap: 31px 0;
}
.signUpPromptChild {
  height: 38px;
  width: 274px;
  position: relative;
  border-radius: 8px;
  background-color: #a9bcff;
  display: none;
}
.signUp {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins;
  color: #474444;
  text-align: left;
  z-index: 3;
}
.parentFramec,
.signUpPrompt {
  display: flex;
  flex-direction: row;
}
.signUpPrompt {
  cursor: pointer;
  border: 0;
  padding: 4px 22px 4px 20px;
  background-color: #a9bcff;
  flex: 1;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.signUpPrompt:hover {
  background-color: #758acc;
}
.parentFramec {
  width: 308px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 34px 0 0;
  box-sizing: border-box;
}
.passwordFrame,
.passwordFrameGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.passwordFrameGroup {
  margin: 0;
  width: 606px;
  gap: 38px 0;
}
.passwordFrame {
  width: 1066px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  padding: 41px 23px 23px;
  box-sizing: border-box;
  gap: 58px 0;
  z-index: 1;
}
@media screen and (max-width: 675px) {
  .invalidNameText {
    gap: 0 34px;
  }
  .invalidNameText1 {
    gap: 0 35px;
  }
  .signUpFrameFinal {
    gap: 31px 0;
  }
  .passwordConfirmFrame {
    gap: 0 34px;
  }
  .passwordConfirmFrame1 {
    gap: 0 31px;
  }
  .signUpFrameGroup {
    gap: 31px 0;
  }
  .passwordFrameGroup {
    gap: 38px 0;
  }
  .passwordFrame {
    gap: 58px 0;
    padding-top: 27px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .confirmPassword,
  .email,
  .name,
  .password,
  .signUp {
    font-size: 16px;
  }
}
